<!DOCTYPE html>
<html>
  <head>
    <title>xxx</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>xxx</h1>
    <p>Welcome to xxx</p>

    <button value="click1" class="btn1">click vao day1</button>
    <script src="../javascripts/index.js"></script>
  </body>
</html>
