<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <button value="click1" class="btn1">click vao day1</button>
    <script src="../javascripts/index.js"></script>
  </body>
</html>
