<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dang Nhap</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/rscss.css">
    <link rel="stylesheet" href="../stylesheets/style_admin.css">
</head>
<body>
    
    <div class="wraper">
        <div class="top_top">
            
            <button>add teacher</button>
            <p>admin</p>
            <div class="clear"></div>
        </div>
        <div class="center1">
            
            <ul class="main-menu">
                <li> lop 1 A <span>..</span></button>
                    <ul class="sub-menu">
                        <li>lop 2fsdfsdfsfsfsdfsdfsdfsdfsd</li>
                        <li>lop 3</li>
                        <li>Them lop</li>
                    </ul>
                </li>
                
            </ul>
            <br>
            <button type="button" class="btn btn-success">Add sv</button>

        </div>
        <div class="content1">
            <table>
                <tr class="top-table">
                    <td>name</td>
                    <td>dia chi</td>
                    <td>gioitinh</td>
                    <td>oprion</td>
                </tr>

                <tr class="noidung">
                    <td>tuyen</td>
                    <td>dia chi</td>
                    <td>gioitinh</td>
                    <td>
                        <button type="button" class="btn btn-primary">sua</button>
                        <button type="button" class="btn btn-danger">xoa</button>
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <script src="../javascripts/js_admin.js"></script>
</body>
</html>