<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dang Nhap</title>
    <link rel="stylesheet" href="../stylesheets/rscss.css">
    <link rel="stylesheet" href="../stylesheets/style_dangnhap.css">
</head>
<body>
    
    <div class="wraper">
        <form action="">
            Username: <input type="text" class="itext"><br>
            PassWord: <input type="text" name="" id="" class="itext"><br>
           <div class="divBtnDangNhap"> <input type="button" name="" value="Dang nhap"></div>
        </form>
    </div>

    <script src="../javascripts/js_dangnhap.js"></script>
</body>
</html>